body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    background-color: rgb(0,2,3);
    color: rgb(13, 255, 195);
    top: 100px;
    bottom: 100px;
    right: 50px;
    left: 50px;
}

#title{
    text-align: center;
}
#description{
    text-align: center;
}
#name-label{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 20%;  
    height: 20%;
    border: radius 20;
}
#email-label{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    width: 20%;  
    height: 20%;
    border: radius 20;
}
#number-label{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    width: 20%;  
    height: 20%;
    border: radius 20;
}
@media (min-height: 200px){
    html{
        font-size: normal;
        
    }

}
