body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    background-color: rgb(0,2,3);
    color: rgb(13, 255, 195);
    border: solid rgba(8, 10, 241, 0.37) 100px;
    top: 100px;
    bottom: 100px;
    right: 50px;
    left: 50px;
}

#title{
    text-align: center;
}
#description{
    text-align: center;
}
#name-label{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
